body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-150px;
  width:1474px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:1636px;
}
#u4346 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:650px;
  height:1636px;
  display:flex;
}
#u4346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
}
#u4347 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:146px;
  width:694px;
  height:400px;
  display:flex;
  font-size:18px;
}
#u4347 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:73px;
  background:inherit;
  background-color:rgba(3, 191, 22, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u4348 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:100px;
  width:170px;
  height:73px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u4348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4349_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u4349 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:109px;
  width:30px;
  height:40px;
  display:flex;
}
#u4349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
